@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
    font-family: 'Roboto', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

.centered {
    text-align: center;
}

#react-root {
    min-height:100vh;
}

header {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.app-title {
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    margin: 16px;
}

.box {
    //min-height: calc(100vh - 275px);
}

footer {
    margin-top: 50px;
    border-top: 1px solid #EAEAEA;
    padding-top: 10px;
    font-size: 12px;
}


.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: mediumpurple;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
